    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        color: #333;
        line-height: 1.6;
    }
    
    header {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 0;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10px;
    }
    
    .logo img {
        height: 55px;
        width: 55px;
        margin: 5px 20px;
    }
    
    .nav-links li {
        display: inline-block;
        margin: 3 rem;
        padding: 2rem;
    }
    
    .nav-links li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        transition: color 0.3s ease;
    }
    
    .nav-links li a:hover {
        color: #ff9900;
    }
    
    .ham {
        display: none;
    }
    
    .resp {
        display: block;
    }
    
    .resphide {
        display: none;
    }
    
    .resp ul li {
        background: white;
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        border: black;
        border-width: 5px 5px;
        border-radius: 15px;
    }
    
    .resp ul li a {
        color: #ff9900;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        transition: color 0.3s ease;
    }
    
    .responsive-button {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .herosc {
        margin: 40px;
        padding: 20px;
        background-color: rgb(57, 56, 56);
        border-radius: 5px;
        box-shadow: 0px 0px 20px black;
    }
    
    h2 {
        font-family: 'Jost', sans-serif;
        color: wheat;
        font-weight: bolder;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: wheat;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 0 0 50px black;
        margin-top: 5px;
    }
    
    .herosc p {
        font-family: 'Roboto Mono', monospace;
        color: white;
        line-height: 2;
        text-align: justify;
    }
    
    .center {
        display: block;
        width: 50%;
        box-shadow: 0px 0px 10px black;
        margin: 20px auto;
    }
    /*Footer styling*/
    
    footer {
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 0;
        text-align: center;
        color: #fff;
    }
    
    .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Ubuntu", sans-serif;
    }
    
    .profile img {
        margin: 10px 20px 10px 10px;
        display: flex;
        object-fit: cover;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        box-shadow: 1px 1px 10px white;
    }